/* Small devices (phones) */
@media (max-width: 640px) {
  h1 {
    font-size: 36px !important;
  }

  h2 {
    font-size: 28px !important;
  }

  p {
    font-size: 15px;
  }
}

/* Tablets */
@media (max-width: 1024px) {
  h1 {
    font-size: 44px;
  }
}
